<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:include="fragment/head :: head">
    <meta charset="UTF-8">
    <title>PassDemo - list entries</title>
</head>

<body>
<p><span th:text="${user}"></span></p>

<table class="table">
    <thead>
    <tr >
        <th scope="col">Title</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Last edit</th>
        <th scope="col">Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${entries.isEmpty()}">
        <td colspan="2">No Entries Available for user</td>
    </tr>
    <tr th:each="entry : ${entries}">
        <td><span th:text="${entry.title}"> Title </span></td>
        <td><span th:text="${entry.username}"> Username </span></td>
        <td><span th:text="${entry.password}"> Password </span></td>
        <td><span th:text="${entry.lastModified}"> Last edit </span></td>
        <td><span th:text="${entry.note}"> Note </span></td>
    </tr>
    </tbody>
</table>

<div th:include="fragment/script-embbed :: emb"></div>
</body>
</html>